h1 {
  font-size: 80px;
}
.about-text {
   max-width: 40em;
}

.photo {
  height: 300px;
  /*border-radius: 50%;*/
}
.container {
  width: 80%;
  margin: 40px auto;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.618;
}
.about {
  display: block;
  margin-top: 40px;
}
.contact {
  display: inline-block;
  text-decoration: none;
  color: grey;
  margin: 10px 50px 10px 0;
}
