h1 {
  font-size: 80px;
  margin-bottom: 15px;
  letter-spacing: 0.02em;
}
.about-text {
   max-width: 40em;
}

.photo {
  display: block;
  height: 300px;
  border-radius: 2%;
  margin: 0 auto;
}
.container {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.618;
}
.about {
  display: block;
  margin-top: 40px;
}
.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.contact {
  display: inline-block;
  text-decoration: none;
  color: grey;
}

.contact:hover {
  text-decoration: underline;
}
